<li>
    {% if voyage.type == 'journey' %}
        <a href="{{ path(voyage.stage) }}#voyage-{{ voyage.slug }}">{{ voyage.title }}</a>
    {% else %}
        <a href="{{ path(voyage) }}">{{ voyage.title }}</a>
    {% endif %}
    <ul>
        {% if voyage.timedVoyages|length > 0 %}
            {% include "DTLVoyagerBundle:Tour:overview.html.twig" with {"voyages": voyage.timedVoyages} %}
        {% endif %}
    </ul>
</li>
